body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  text-align: center;
  width: 800px;
  margin: auto;
}

.box {
  display: inline-block;
  height: 60px;
  width: 60px;
  background: gray;
  color: white;
  text-align: center;
}

.box:hover {
  cursor: pointer;
}
